<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/W7_PBO/src/StudiKasus3/Strings.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="StudiKasus3.Strings"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="W7_PBO"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="W7_PBO"/>
</launchConfiguration>
